<!DOCTYPE html>
<html>
  <head>
    <title>Splashr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/2.0.0/trianglify.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
   <%= render '/layouts/nav' %>
    <div class='container'>
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
      <%= yield %>
      </div>
  </body>
</html>
